# Configuration Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_TOPIC=crypto.trades.raw

# Configuration MongoDB
MONGO_URI=mongodb://localhost:27018

# Configuration Serveur
PORT=3000
HOST=0.0.0.0

# Configuration Détection Anomalies
ANOMALY_THRESHOLD=1

# Logging
LOG_LEVEL=info
LOG_FORMAT=text

# Environment
NODE_ENV=development
